{% assign garments = 'T-Shirt 1, T-Shirt 2, Hoodie 1, Hoodie 2' | split: ', ' %}
{% assign quantity = '12, 24, 48, 96, 150, 300, 500, 750, 1000' | split: ', ' %}
{% assign art_options = 'Front, Back, Sleeve' | split: ', ' %}
{% assign init_step = 'garment' %}

<div class="quote-menu">
  <ul>
    {% for step in linklists.quote-menu.links %}
      <li data-step="{{ step.title | downcase | handleize }}" class="{{ step.title | downcase | handleize }}{% if forloop.first == true %} active{% endif %}">{{ step.title }}</li>
    {% endfor %}
  </ul>
</div>

<form id="quote-form">
  {% comment %} GARMENT SECTION {% endcomment %}
  <div class="form-section" data-step="garment">
    <div class="form-group js-airtable-garments">
      <label>What kind of garment are you looking for?</label>
    </div>
    <div class="form-group">
      {% section 'colors' %}
    </div>
  </div>

  {% comment %} ART SECTION {% endcomment %}
  <div class="form-section hidden accordion" data-step="art">
    <div class="form-group">
      {% for art in art_options %}
        <div class="accordion-item">
          <p class="h4" data-toggle="{{ art | downcase }}">{{ art }}</p>
          <div class="inline-form-item art-upload expandable" data-target="{{ art | downcase }}">
            <p>Don't worry about exactness! This is just for quoting purposes.</p>
            <label for="{{ art | downcase }}_art">Upload an image</label>
            <input type="file" name="{{ art | downcase }}_art" id="{{ art | downcase }}_art" data-set="{{ art_img }}">
            <label for="{{ art | downcase }}_text">Add text</label>
            <input type="text" name="{{ art | downcase }}_text" id="{{ art | downcase }}_text" data-set="{{ art_text }}">
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  
  {% comment %} QUANTITY SECTION {% endcomment %}
  <div class="form-section hidden" data-step="quantity">
    <div class="form-group">
      <label for="quantity">How many do you need?</label>
      <select name="quantity">
        <option disabled required selected></option>
        {% for number in quantity %}
          <option value="{{ number }}">{{ number }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% comment %} DATE SECTION {% endcomment %}
  <div class="form-section hidden" data-step="date">
    <div class="form-group">
      <div class="error-message">This field is required.</div>
      <label for="deadline">When do you need them by?</label>
      <input type="date" name="deadline" min="{{ 'today' | date: '%s' | plus: 86400 | date: '%Y-%m-%d' }}" required>
    </div>
  </div>


  {% comment %} QUOTE SECTION {% endcomment %}
  <div class="form-section hidden" data-step="get-quote">
    <h2>$<span class="js-unit-price"></span> per <span class="js-garment-type">{{ garments | first }}</span></h2>
    <p class="h4">Your detailed quote is ready!</p>
    <div class="form-group">
      <label for="email">What's your email?</label>
      <input type="email" name="email">
    </div>
  </div>

  <div class="direction">
    <div class="prev-step btn js-step-trigger-back">Back</div>
    <div class="next-step btn js-step-trigger-next">Next</div>
    <button class="btn js-step-trigger-final">Get Quote!</button>
  </div>
</form>