<label>What color should it be?</label>
<div class="inline-form-item garment-color">
  {% for block in section.blocks %}
    <div class="color-radio{% if forloop.first == true %} active{% endif %}">
      <input type="radio" name="garment_color" value="{{ block.settings.title }}" id="{{ block.settings.title | replace: ' ', '_' | replace: '-', '_' | downcase }}"{% if forloop.first == true %} checked="checked" required{% endif %} class="visually-hidden">

      <label for="{{ block.settings.title | replace: ' ', '_' | replace: '-', '_' | downcase }}" class="color-{{ block.settings.title | replace: ' ', '_' | replace: '-', '_' | downcase }}">{{ block.settings.title }}</label>
    </div>
  {% endfor %}
</div>

<style>
  {% for block in section.blocks %}
    .color-radio .color-{{ block.settings.title | replace: ' ', '_' | replace: '-', '_' | downcase }}::before {
      background-color: {{ block.settings.color }};
    }
  {% endfor %}
</style>

{% schema %}
  {
    "name": "Colors",
    "class": "form-group",
    "blocks": [
      {
        "type": "color",
        "name": "Color",
        "settings": [
          {
            "type": "text",
            "label": "Color",
            "id": "title"
          },
          {
            "type": "color",
            "label": "Color Hex",
            "id": "color"
          }
        ]
      }
    ]
  }
{% endschema %}